@keyframes big-rain{
    0%{
      transform: translate(800px,-1000px) rotate(-52deg);
    }
    100%{
        transform: translate(0px,0px) rotate(-52deg);
    }
}
@keyframes big-rain_ns1{
    0%{
       
        opacity: 1;
    }
    50%{
        opacity: 1;
    }
    100%{
       
        opacity: 0;
         
    }
}

@keyframes big-rain_ns2{
    0%{
      
        opacity: 1;
    }
    50%{
        opacity: 1;
    }
    100%{
       
        opacity: 0;
    }
}


@keyframes fadein{
    0%{
        right:-600px;
        opacity: 0;
    }
    
    100%{
        right:0px;
        opacity: 1;
    }
}


@keyframes cloud-ani{
    0%{
        background-position: 0px 0px;
    }
    100%{
        background-position: 1420px 0px;
    }
}

@keyframes larger_pic{
    0%{
       transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes idle{
    0%{
        transform: translate(0rem, 0rem);
    }
   
    50%{
        transform: translate(0rem, -1rem);
    }
 
    100%{
        transform: translate(0rem, 0rem);
    }
}

@keyframes animate-f{
    0%{
        opacity: 1;
        transform: translate(50rem,-50rem)
    
    }
    100%{
        opacity: 1;
        transform: translate(0rem,0rem)
    }
}

@keyframes fadeIn-font{
    0%{
        opacity: 0;
        transform: translate(0rem, 0rem);
    
    }
    100%{
        opacity: 1;
        transform: translate(0rem, -1rem);
        
    }
}



@keyframes g-pa_jumpin{
    0%{
        opacity: 0;
        top:500px;
    }
    100%{
        opacity: 1;
        top:0px;
    }
}

@keyframes waves{
    0%{
        transform: rotate(45deg);
        background-position: 0px 0px;
    }
    100%{
        transform: rotate(45deg);
        background-position: 0px 131px;
    }
}



@keyframes story-rain{
    0%{
        
      transform: translate(800px,-1000px) rotate(-52deg);
     opacity: 0;
     
    }
    100%{
       
        transform: translate(0px,0px) rotate(-52deg);
        opacity: 1;
        
    }
}