.intro {
    opacity: 0;
    height: 50vw;
    padding: 5% 0;
    transition: all 1.8s;
    padding-left: 2%;
}

.intro.showIn {
    opacity: 1;
}

.intro h3 {
    letter-spacing: 0.5vw;
    font-weight: 500;
    position: relative;
    font-size: 3.8vw;
}

.text_line1 {
    position: relative;
    margin-top: 1%;
}

.text {
    color: #4d4d4d;
    letter-spacing: 0.18vw;
    line-height: 2vw;
    font-weight: 100;
    font-size: 1.2vw;
}

.intro_o {
    position: absolute;
    width: 15%;
    height: auto;
    margin-top: -10%;
    margin-left: 10%;
    animation: idle 2s linear 0s infinite forwards;
}

.intro_rr {
    position: absolute;
    width: 20%;
    margin-top: 15%;
    margin-left: 12%;
}

.intro_y {
    position: absolute;
    width: 15%;
    margin-top: 20%;
    margin-left: 75%;
    animation: idle 2s linear 0s infinite forwards;
}

.intro_bw {
    position: absolute;
    background-image: url(../../assets/images/wave.png);
    background-size: auto 220px;
    height: 15vw;
    width: 12%;
    margin-top: -5%;
    margin-left: 80%;
    background-repeat: repeat-y;
    animation: intro_waves 12s linear 0s infinite forwards;
}

.carousel-img {
    z-index: 100;
    margin-left: calc(22.5% + 15px);
    width: 50vw;
}



li {
    list-style: none;
    cursor: pointer;
}

.l {
    z-index: 10000 !important;
    position: relative;
    height: 3vw;
    width: 3vw;
    background-image: url(../../assets/images/fruit_intro/bl.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.r {
    z-index: 10000 !important;
    position: relative;
    height: 3vw;
    width: 3vw;
    background-image: url(../../assets/images/fruit_intro/br.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.trun {
    z-index: 10000 !important;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
    margin-top: -16.5vw;
    margin-left: calc(24vw + 15px);
    width: 47vw;
}

.slick-dots li:nth-child(1) button::before {
    font-size: 3vw !important;
    color: #FFDD56 !important;
    opacity: 1;
}

.slick-dots li:nth-child(2) button::before {
    font-size: 3vw !important;
    color: #FF3F00 !important;
    opacity: 1;
}

.slick-dots li:nth-child(3) button::before {
    font-size: 3vw !important;
    color: #FF8A2A !important;
    opacity: 1;
}

.slick-dots li:nth-child(4) button::before {
    font-size: 3vw !important;
    color: #3BBFFF !important;
    opacity: 1;
}

.slick-dots li:nth-child(5) button::before {
    font-size: 3vw !important;
    color: #04487E !important;
    opacity: 1;
}

.title, .text_line_sm {
    justify-content: center!important;
}

@media screen and (max-width: 480px) {
    .intro {
        height: 100vh;
        display: grid;
        padding: 5vh 0vw !important;
        grid-row-gap: 8%;
        grid-template-rows: 1fr 2fr;
    }
    .intro_title_sm {
        margin-bottom: 5vh;
        justify-content: start!important;
    }
    .intro_title_sm h3 {
        font-size: 30px;
    }
    .text {
        line-height: 4vh;
        font-size: 15px;
    }
    .intro_subtitle_sm {
        justify-content: start!important;
    }
    .position-absolute_sm {
        position: absolute;
    }
    .carousel-img {
        width: 100%;
        margin: 0;
    }
    .intro_text_sm {
        padding-left: 10vw;
        align-self: flex-end;
    }
    .slick-dots li:nth-child(1) button::before, .slick-dots li:nth-child(2) button::before, .slick-dots li:nth-child(3) button::before, .slick-dots li:nth-child(4) button::before, .slick-dots li:nth-child(5) button::before {
        font-size: 9vw !important;
    }
    .intro_pic {
        width: 100vw;
        height: 100vh;
    }
    .intro_o {
        z-index: -1;
        width: 100px;
        height: auto;
        margin-top: -2vh;
        margin-left: 5vw;
        animation: none;
    }
    .intro_rr{
        z-index: -1;
        width: 130px;
        height: auto;
        margin-top: 58vh;
        margin-left: -5vw;
        animation: none;
    }
    .intro_y{
        z-index: -1;
        width: 40vw;
        height: auto;
        margin-top: 70vh;
        margin-left: 55vw;
        animation: none;
    }
    .intro_bw{
       
        background-size: 100%;
        height: 110px;
        width: 50px;
        margin-top: 12vh;
        margin-left: 70vw;
        background-repeat: repeat-y;
        animation: none;
    }
}