.intro{
    opacity: 0;
    height: 50vw;
    padding: 5%;
    transition:all 1.8s;
}

.intro.showIn{
    opacity: 1;
    
}


.intro h3{
    position: relative;
    font-size: 3vw;
}

.text_line1{
    position: relative;
    margin-top: 1%;
}

.text{
    font-size: 1vw;
}


.intro_o{
    position: absolute;
    width: 15%;
    height: auto;
    margin-top: -10%;
    margin-left: 10%;
    animation: idle 2s linear 0s infinite  forwards;
    
}
.intro_rr{
    position: absolute;
    width: 20%;
    margin-top: 15%;
    margin-left: 12%;
    
}
.intro_y{
    position: absolute;
    width: 15%;
    margin-top: 20%;
    margin-left: 75%;
    animation: idle 2s linear 0s infinite  forwards;
    
}
.intro_bw{
    
    position: absolute;
    background-image: url(../../assets/images/fruit_intro/l2.png);
    background-size: 100%;
    height: 15vw;
    width: 8.5%;
    margin-top: -5%;
    margin-left: 80%;
    animation: intro_waves 8s linear 0s infinite  forwards;
    
}
.carousel-img{
    z-index: 100;
    margin-left:22.5%; 
    width: 50vw;
}
li{
    list-style: none;
    cursor: pointer;
    
}
.l{
   
    z-index: 10000 !important;
    position: relative;
 
    height: 2vw;
    width: 2vw;
    background-image: url(../../assets/images/fruit_intro/bl.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.r{
    
    z-index: 10000 !important;
    position: relative;
  
    height: 2vw;
    width: 2vw;
    background-image: url(../../assets/images/fruit_intro/br.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.trun{
    z-index: 10000 !important;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin:0 auto;
    padding: 0;
    margin-top:-16.5vw;
    margin-left: 24vw;
    width: 47vw;
}