.lernus_main {
    /* take off */
    height: 100vh;
    display: grid;
    grid-template-rows: 10% 10%;
    grid-template-columns: 100%;
    justify-content: center;
    justify-items: center;
    padding-top: 5%;
}

.learnus_icon {
    width: 13%;
    background-color: pink;
}

.learnus_title {
    width: 16%;
    background-color:burlywood;
}