/* #story_Effect.showIn {
    opacity: 1;
}

.main_story {
    width: 100vw;
    height: 50vw;
    opacity: 0;
    transition: all 1.8s;
    margin-top: 5%;
  
}

.title {
    position: relative;
    margin-top: 11%;
    margin-left: 18%;
}

.title h2 {
    font-size: 3vw;
}

.subtext {
    position: relative;
    margin-top: 4%;
    margin-left: 19%;
    font-size: 1.5vw;
}

.learnMore_btn {
    position: relative;
    border-radius: 50px;
    border: solid 2px #000;
    font-size: 2vw;
    height: 3.5vw;
    width: 12vw;
    margin-top: 4%;
    margin-left: 18%;
}

.learnMore_btn a {
    color: #000;
}

.RB {
    position: absolute;
    width: 10%;
    margin-top: 5%;
    margin-left: 11%
}

.city {
    position: absolute;
    width: 32%;
    margin-top: 9%;
    margin-left: 58%
}

.wave {
    transform: rotate(45deg);
    position: absolute;
    height: 23%;
    width: 5%;
    background-image: url(../../assets/images/wave.png);
    background-size: auto 130px;
    animation: story_waves 5s linear infinite;
    margin-top: 32%;
    margin-left: 13%;
    background-repeat: repeat-y;
}

@keyframes story_waves {
    0% {
        transform: rotate(45deg);
        background-position: 0px 0px;
    }
    100% {
        transform: rotate(45deg);
        background-position: 0px 130px;
    }
}

.peach_ani {
    z-index: 1000;
    position: absolute;
    background-image: url(../../assets/images/main_story/peach.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    width: 28.6vw;
    height: 5vw;
    margin-top: 34.5%;
    margin-left: 60.5%;
    animation-name: swimming_p, idle_p;
    animation-duration: 15s, 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.lg_none {
    display: none ;
    visibility: hidden;
}

@media screen and (max-width: 480px) {
    .story_animate{
        width: 0%;
        height: 0%;
    }
    .sm_none {
        display: none !important;
        visibility: hidden;
    }
    .lg_none {
        display: block ;
        visibility: visible;
    }
    .main_story {
        margin: 0;
        height: 100vh;
        width: 100vw;
        display: grid;
        padding: 0 7vw !important;
    }
    .main_story_sm {
        display: grid;
        grid-template-rows: 2fr 3fr;
    }
    .subtext, .title, .learnMore_btn {
        position: relative;
        grid-row: 1/2;
        grid-column: 1/2;
    }
   .city_pic{
       display: grid;
   }
    .city {
        align-self: center;
        margin: 0;
        width: 100%;
        height: auto;
        grid-row: 2/3;
        grid-column: 1/2;
    }
    .subtext {
        margin: 0;
        display: grid;
        grid-template-rows: 2fr 1fr;
        align-items: flex-end;
        font-size: 14px;
        padding-left: 7vw;
        padding-bottom: 6vw;
    }
    .subtext span {
        display: none;
    }
    .learnMore_btn_sm {
        width: 80px;
        height: 30px;
        margin: 0;
        top: 32vw;
        border: #000 solid 0.5px;
        border-radius: 50vw;
        display: grid;
        justify-items: center;
        align-items: center;
        justify-self: start;
    }
    .learnMore_btn_sm a {
        color: #000;
    }
    .subtext_sm {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 3fr 2fr;
    }
    .title {
        margin: 0;
    }
    .title h2 {
        margin: 0;
        font-size: 30px;
    }
    .RB {
        margin: 100px 30px;
        width: 60px;
    }
    .wave {
        z-index: -1;
        animation: none;
        height: 130px;
        width: 100px;
        background-size: auto 130px;
        margin: 0;
        top: 15vh;
        left: 70%;
    }
    .peach_ani {
        
        animation: none;
        height: 40px;
        margin: 0;
        margin-top:35vh;
        margin-left:50%;

    }
    
} */

#story_Effect.showIn {
    opacity: 1;
}

.page_main {
    padding: 0;
    width: 100vw;
}

.story_main {
    position: relative;
    width: 100vw;
    height: 50vw;
    opacity: 0;
    transition: all 1.8s;
    margin-top: 5%;
    justify-content: center;
    align-content: center;
    display: grid;
    grid-template-rows: 70%;
    grid-template-columns: 35% 35%;
    grid-column-gap: 15%;
}

.story_text {
    margin-left: 20%;
    display: grid;
    grid-template-rows: 19% 56% 20%;
}

.RB {
    position: absolute;
    width: 8%;
    height: auto;
    top: 5vw;
    left: 11vw;
}

.story_text_title {
    display: grid;
}

.story_text_title h2 {
    z-index: 100;
    align-self: flex-end;
    padding-left: 9%;
    margin: 0;
    font-size: 3.5vw;
    font-weight: 500;
    letter-spacing: 0.8vw;
}

.story_text_subtitle {
    color: #4d4d4d;
    align-self: center;
    font-size: 1.5vw;
    letter-spacing: 0.18vw;
    line-height: 2.8vw;
    font-weight: 100;
    padding-left: 13%;
}

.story_text_subtitle .sm_none {
    margin-bottom: 5%;
}

.story_text_btn {
    font-size: 1.5vw;
    margin-left: 10%;
    height: 4.5vw;
    width: 48%;
    border: solid #262626 0.1vw;
    border-radius: 50vw;
    display: grid;
    justify-content: center;
    align-content: center;
    cursor: pointer;
}

.story_text_btn a {
    text-decoration: none;
    color: #262626;
    font-size: 2vw;
    letter-spacing: 0.18vw;
}

.story_pic {}

.city {
    height: 100%;
}

.wave {
    z-index: -1;
    transform: rotate(45deg);
    position: absolute;
    height: 10vw;
    width: 6%;
    background-image: url(../../assets/images/wave.png);
    background-size: auto 130px;
    animation: story_waves 5s linear infinite;
    top: 32vw;
    left: 11vw;
    background-repeat: repeat-y;
}

@keyframes story_waves {
    0% {
        transform: rotate(45deg);
        background-position: 0px 0px;
    }
    100% {
        transform: rotate(45deg);
        background-position: 0px 130px;
    }
}

.lg_none {
    display: none;
    visibility: hidden;
}

@media screen and (max-width: 480px) {
    .sm_none {
        display: none !important;
        visibility: hidden;
    }
    .lg_none {
        display: block;
        visibility: visible;
    }
    .story_main {
        height: 100vh;
        width: 100vw;
        margin-top: 0%;
        justify-content: center;
        align-content: center;
        display: grid;
        grid-template-rows: 2fr 3fr;
        grid-template-columns: 100%;
        grid-column-gap: 7%;
        padding: 15vw 8vw;
        grid-row-gap: 5%;
    }
    .story_pic {
        display: grid;
        justify-items: center;
    }
    .story_text {
        margin-left: 0%;
        display: grid;
        align-content: flex-end;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 2fr 1fr;
        grid-row-gap: 10%;
        grid-column-gap: 1%;
    }
    .story_text_subtitle {
        line-height: 5vh;
        grid-row: 2/3;
        grid-column: 1/2;
    }
    .story_text_btn {
        border: solid #262626 1px;
        grid-row: 2/3;
        grid-column: 2/3;
    }
    .story_text_btn a {
        text-decoration: none;
        color: #262626;
        font-size: 14px;
        letter-spacing: 0.18vw;
    }
    .wave {
        top: 22vh;
        left: 70vw;
        animation: none;
        width: 18vw;
        height: 15vh;
        background-size: cover;
    }
    .story_text_title h2 {
        font-size: 7vw;
    }
    .story_text_subtitle {
        font-size: 4.5vw;
        align-self: flex-end;
    }
    .city {
        height: auto;
        width: 100%;
    }
    .story_text_btn {
        margin: 0;
        width: 80px;
        height: 30px;
        font-size: 5vw;
        align-self: flex-end;
    }
    .RB {
        width: auto;
        height: 8vh;
        top: 13vh;
        left: 8vw;
    }
}