.title_logo{
    position: absolute;
    opacity: 0;
    width: 20%;
    margin-top:13%;
    margin-left:6%;
    animation: fadeIn-font 0.5s linear 4.5s forwards;
}



.main_page{

    opacity: 0;
    animation-delay: 1s;
    animation: fadein 0.8s linear 1s forwards;
   
}

.main_pic{  
    position: absolute;
    right:0;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: -1;
    
}

.ani_cloud{
    z-index: 50;
    position: relative;
    left: calc(100vw - 60vw);
    height: 100vh;
    width: 60vw;
}

.ani_cloud-1{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../images/cloud.png);
    animation:  cloud-ani  15s linear infinite;
   

}
.div_g-pa{
    opacity: 0;
    z-index: 1000;
    left: calc(100vw - 55vw);
    height: 100%;
    animation: g-pa_jumpin 0.5s linear 2s forwards;
}
.g-pa{
  
   
    transform: scale(0);
    height: auto;
    width: 55%;
    animation: larger_pic 0.5s linear 2s forwards;
      
}

.bird{
    z-index: 100;
    position: absolute;
    height: 100vh;
    width: 100%;
    background-image: url(../images/bird.png);
    background-size: contain;
    background-position-x: 90%;
    
}