

.nav_main{
    
    z-index: 100000;
    position: absolute;
    display: grid;
    padding-right: 2vw;
    width: 100vw;
    text-align: center;
    grid-template-rows: 80px;
    grid-template-columns: auto 1fr; 
    top:30px; 
   

}

.nav_logo{
    position: relative;
    width: auto;
    height: 100%;
   
}

.nav_btn{
    justify-self: end;
    align-content: center;
    display: grid;
    grid-template-rows: 50px;
    grid-template-columns: repeat(4,100px);  
    grid-column-gap:30px;

}
.nav_sec{
    align-self: center;
    font-size: 20px;
}

.nav_sec:hover {
    border: #000 solid 1px;
    border-radius: 50vw;
    cursor: pointer;
}

@media screen and (max-width: 480px) {
    .nav_main{
        display: none;
    }

}