nav{
    z-index: 1000000;
    margin-top:2%; 
    font-size: 1.1vw;  
}
.nav_logo{
    position: relative;
    left:10%; 
    width: 40%;
}


.nav1{
    list-style-type: none;
    
    margin-right: 15%;
}

.nav1_li{
    display: flex;
    justify-content: center;
    width:100px;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    border-radius: 20px;
}

.nav1_li:hover{
    cursor: pointer;
    border: 1px solid rgb(36, 36, 36);
    
} 