.color_white  a{
    color: #fff;
   
}
.color_white .nav_sec:hover {
    border: #fff solid 1px !important;
   
}


.learn_us_main_sec1 {
    position: relative;
    display: grid;
    height: 50vw;
    width: 100vw;
    background-color: #ff3f00;
    box-shadow: 0px -30vw 100vh -1vw #25252585 inset;
    padding-top: 12vw;
    grid-template-rows: 12vw 1fr;
}

.learn_us_main_sec2 {
    position: relative;
    
    display: grid;
    padding:9vw;
    height: 63vw;
    width: 100vw;
}

.learn_us_title {
    height: 100%;
    justify-self: center;
}

.learn_us_main_sec1 p {
    margin: 0;
    margin-top: 6vw;
    justify-self: center;
    color: #fff;
    font-size: 1.2vw;
}

.learn_us_deco {
    position: absolute;
}

.learn_us_deco_sh {
    opacity: 0;
    animation: story-rain linear forwards;
    transform: rotate(-55deg);
    z-index: 10000;
    position: absolute;
    border-radius: 50vw;
    background-color: #00d7ff;
}

.learn_us_deco_lg_1, .learn_us_deco_lg_2 {
    height: 5vw;
    width: 13vw;
}

.learn_us_deco_lg_1 {
    animation-duration: 1s;
    animation-delay: 0.5s;
    margin-top: 30vw;
    margin-left: 10vw;
}

.learn_us_deco_lg_2 {
    animation-duration: 1.5s;
    animation-delay: 0.8s;
    margin-top: 46vw;
    margin-left: 85vw;
}

.learn_us_deco_md_1, .learn_us_deco_md_2, .learn_us_deco_md_3, .learn_us_deco_md_4, .learn_us_deco_md_5, .learn_us_deco_md_6, .learn_us_deco_md_7 {
    height: 1.5vw;
    width: 3.8vw;
}

.learn_us_deco_md_1 {
    animation-duration: 1.8s;
    margin-top: 5vw;
    margin-left: 35vw;
}

.learn_us_deco_md_2 {
    animation-delay: 0.5s;
    animation-duration: 0.8s;
    margin-top: 25vw;
    margin-left: -2vw;
}

.learn_us_deco_md_3 {
    animation-delay: 0.8s;
    animation-duration: 1.7s;
    margin-top: 23vw;
    margin-left: 38vw;
}

.learn_us_deco_md_4 {
    animation-duration: 0.9s;
    margin-top: 42vw;
    margin-left: 25vw;
}

.learn_us_deco_md_5 {
    animation-delay: 0.5s;
    animation-duration: 1.2s;
    margin-top: 0vw;
    margin-left: 78vw;
}

.learn_us_deco_md_6 {
    animation-duration: 0.9s;
    margin-top: 32vw;
    margin-left: 65vw;
}

.learn_us_deco_md_7 {
    animation-duration: 1.4s;
    margin-top: 10vw;
    margin-left: 92vw;
}

.learn_us_deco_sm_1, .learn_us_deco_sm_2 {
    animation-delay: 0.5s;
    height: 0.8vw;
    width: 2.2vw;
}

.learn_us_deco_sm_1 {
    animation-duration: 1.6s;
    margin-top: 12vw;
    margin-left: 10vw;
}

.learn_us_deco_sm_2 {
    animation-delay: 0.5s;
    animation-duration: 0.5s;
    margin-top: 20vw;
    margin-left: 65vw;
}

.learn_us_main_sec2 {
    display: grid;
    grid-template-rows: 4vw 25vw;
    grid-row-gap: 4vw;
}
.learn_us_main_sec2_title{
    font-size: 2vw;
    justify-self: center;
    
}
.learn_us_main_sec2 h2 {
    font-size: 2.5vw;
    margin: 0;
    
   
}

.learn_us_member {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
   
}

.member_1,.member_2,.member_3{
    display: grid;
    justify-items: center;
    grid-template-rows: 15vw 2vw 2vw;
    grid-row-gap: 2vw ;
}


.member_1_pic,.member_2_pic,.member_3_pic{
    width: 15vw;
}


.member_1 p,.member_2 p,.member_3 p{
    
    margin:0;
}

.member_1 :nth-child(2),.member_2 :nth-child(2),.member_3 :nth-child(2){
    font-size: 1.8vw;
    font-weight: 500;
}
.member_1 :nth-child(3),.member_2 :nth-child(3),.member_3 :nth-child(3){
    font-size: 1.3vw;
    
}


.boat_sm{
    top: 49.5% !important;
   
}


.page2_learn_b1b{
    z-index: -1;
    position: absolute;
    width: 12vw;
    margin-top:11vw;
    margin-left:10vw;
    animation: idle 2s linear 0s infinite forwards;
}

.page2_learn_b2b{
    z-index: -1;
    position: absolute;
    width: 8vw;
    margin-top:12vw;
    margin-left:38vw;
   
}


.page2_learn_b3b{
    z-index: -1;
    position: absolute;
    width: 8vw;
    margin-top:13vw;
    margin-left:67vw;
    animation: idle 2s linear 0s infinite forwards;
   
}



.black .nav_sec:hover {
    border: #000 solid 1px !important;
   
}

.black a{
    color:#000;
    
}