.story_rain{
    opacity: 1;
    transform:rotate(-52deg);
    z-index: 100;
    position: absolute;
    border-radius: 50px;
    transform-origin:center center;    
    height:1vw;
    width:3vw;
    background-color: #3abfff;
    

}

.animate-rain1{
    
    margin-top:24%;
    margin-left: 13%;
    animation-delay: 0.5s;
   
}

.animate-rain2{
   
    margin-top:10%;
    margin-left: 35%;
}

.animate-rain3{
   
    margin-top:47%;
    margin-left: 15%;
    animation-delay: 0.8s;
}

.animate-rain4{
   
    margin-top:33%;
    margin-left: 35%;
    animation-delay: 0.2s;
}

.animate-rain5{
   
    margin-top:5%;
    margin-left: 55%;
    animation-delay: 1s;
}

.animate-rain6{
   
    margin-top:25%;
    margin-left: 55%;
    animation-delay: 0.5s;
}

.animate-rain7{
   
    margin-top:45%;
    margin-left: 55%;
    animation-delay: 1.2s;
}

.animate-rain8{
   
    margin-top:45%;
    margin-left: 78%;
    animation-delay: 1.5s;
}

.animate-rain9{
   
    margin-top:15%;
    margin-left: 88%;
    animation-delay: 0.5s;
}