.story_rain{
   
    transform:rotate(-52deg);
    z-index: 100;
    position: absolute;
    border-radius: 50px;
    transform-origin:center center;    
    height:1vw;
    width:3vw;
    background-color: #3abfff;
    animation: name duration timing-function delay iteration-count direction fill-mode;
 
}

.rain_ani{
    
    animation-name:big-rain ;
    animation-timing-function:linear;
}

.animate-rain1{
    
    margin-top:24%;
    margin-left: 13%;
    animation-duration:0.5s;
   
}

.animate-rain2{
   
    margin-top:10%;
    margin-left: 35%;
    animation-duration:1.8s;
}

.animate-rain3{
   
    margin-top:47%;
    margin-left: 15%;
    animation-duration:0.8s;
}

.animate-rain4{
   
    margin-top:33%;
    margin-left: 35%;
    animation-duration:1.6s;
   
}

.animate-rain5{
   
    margin-top:5%;
    margin-left: 55%;
    animation-duration:0.4s;
    
}

.animate-rain6{
   
    margin-top:25%;
    margin-left: 55%;
    animation-duration:1.2s;
  
}

.animate-rain7{
   
    margin-top:45%;
    margin-left: 55%;
    animation-duration:0.9s;
    
}

.animate-rain8{
   
    margin-top:45%;
    margin-left: 78%;
    animation-duration:1.6s;
   
}

.animate-rain9{
   
    margin-top:15%;
    margin-left: 88%;
    animation-duration:0.7s;
    
}

@media screen and (max-width: 480px) {

    .story_rain{
        animation: none;
        height: 10px;
        width: 35px;
        z-index: -1;
    }
    .animate-rain1{

        margin-top:27vh;
        margin-left: 0vw;
    }

    .animate-rain2{

        margin-top:5vh;
        margin-left: 27vw;
    }
    .animate-rain3{

        margin-top:50vh;
        margin-left: -10vw;
    }
    .animate-rain4{

        margin-top:33vh;
        margin-left: 35vw;
    }
    .animate-rain5{
        margin-top:8vh;
        margin-left: 62vw;
    }
    .animate-rain6{
        margin-top:50vh;
        margin-left: 70vw;
    }
    .animate-rain7{
        margin-top:30vh;
        margin-left: 75vw;
    }
}