.main{
    background-color: rgb(241, 186, 134);
    width: 100vw;
    height: 100vh;
}
.line{
    outline: solid #000 2px;
}
.nav{
    display: flex;
    list-style-type: none;
   
}

.ft_black{
    color: black ;
    
}